# Python
token.json
credentials.json
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environment variables
.env

# FAISS index files
faiss_index/

# Streamlit
.streamlit/



# System files
.DS_Store
Thumbs.db