streamlit==1.31.0
pandas==2.2.0
python-dotenv==1.0.1
langchain==0.1.0
langchain-core==0.1.10
langchain-openai==0.0.5
langchain-community==0.0.4
faiss-cpu==1.7.4
pypdf==3.17.4
tiktoken==0.6.0
openai==1.12.0